source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget Autofac.Extensions.DependencyInjection
nuget coverlet.collector
nuget FluentNHibernate
nuget FSharp.Core
nuget Microsoft.AspNetCore.TestHost
nuget Microsoft.NET.Test.Sdk
nuget System.Data.SQLite.Core
nuget System.Net.Http.Json
nuget xunit
nuget xunit.runner.visualstudio